.home{
    height: 70vh;
    background:linear-gradient(rgba(33,33,33,0.522),rgba(33,33,33,0.522)), url('../../../assets//home.jpg') ;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;

    .secContainer{
        .homeText{
            text-align: center;

            .title{
                color: white;
                font-size: 2.5rem;
                font-weight: 700;
                /* line-height: 2.5rem; */
            }

            .subTitle{
                color: white;
                opacity: .9;
                font-size: 1rem;
                font-weight: 500;
                padding: 1rem 0;
                /* max-width: 70%; */
                text-align: center;
                margin: auto; 
            }  
        }

        .homeCard{
            /* width: 60%; */
            border-radius: 1rem;
            padding: 2rem;
            background-color: white;
            position: absolute;
            gap: 1rem;
            justify-content: center;
            transform: translate(-50%);
            left: 50%;
            box-shadow: 0 2px 8px 4px rgba(178,178,178,0.3);   
            

            .btn{
                color: white;
                background-color: lightpink;
                font-weight: 700;
                font-size: 15px;

                &:hover{
                    color: lightcoral;
                }
            }
        }
    }
}

.PriceDiv , .NumDiv {
    width: 100%;
}

.homeInput{
    width: 100%;
    border: none;
    padding: .5rem;
    border-radius: 1rem;  
    background-color: rgb(234, 234, 234);

    &::placeholder{
        font-weight: 700;
        font-size: 15px;
        opacity: .5;
        font-weight: 700;
    }
}

@media screen and (max-width: 800px){
    .home{
        .secContainer{
            .homeCard {
                 bottom: -20%;
                 width: 50%;
            }
        }
    }
}

@media screen and (min-width: 801px){
    .home{
        .secContainer{
            .homeCard {
                 bottom: -10%;
                 width: 50%;
                 grid-template-columns: repeat(3,1fr);
            }
        }
    }
}