.navBarSection{
    .header{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        width: 100%;
        padding: 1.5rem;
        z-index: 1000;

        .logoDiv{
            .logo{
                color: lightpink;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                
                .icon{
                    color: lightpink;
                    font-size: 2rem;
                    margin-right: 10px;
                }
            }
        }

        @media screen and (max-width: 800px){
            .navBar{
                background: lightcoral;
                position: absolute;
                
                padding: 1rem;
                width: 100%;
                top: 0;
                right: -500%;
                box-shadow: 0 2px 4px rgba(178, 178, 178, 0.9);
                transition: .5s ease;
                z-index: 1000;

                .navLists{
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    margin: auto;

                    .navItem{
                        .navLink{
                            color: white;
                            font-size: 1.2rem;
                            font-weight: 600;
                            &:hover{
                                color: lightpink;
                            }
                        }
                    }
                }

                .closeNavbar{
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                   

                    .icon{
                        color: white;
                        font-size: 2rem;

                        &:hover{
                            color: lightpink;
                        }
                    }
                }
            }

            .toggleNavbar{
                .icon{
                    color: lightpink;
                    font-size: 1.5rem;
                }
            }

            .activeNavbar{
                left: 0;
            }
        } 
    }
    /* scroll */
    .activeHeader{
        background: rgb(255, 255, 255);
        box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.5); 
    }
}

@media screen and (min-width: 801px){
    .navBarSection{
        .toggleNavbar, .closeNavbar{
            display: none;
        }
    
        .header{
            padding: 1.5rem 2rem;
            .navBar{
                .navLists{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;

                    .navItem{
                        .navLink{
                            color: lightpink;
                            font-size: 1.1rem;
                            font-weight: 600;
                            padding: 0 1rem;

                            &:hover{
                                color: lightcoral;
                            }
                        }
                    }

                    .loginBtn{
                        background: none;
                        border:1px solid lightcoral;
                        font-size: 1.1rem;
                        font-weight: 600;

                        &:hover{
                            background-color: lightcoral;
                        }
                    }
                }
            }
        }
    }
    
}



  
.navBarSection{
    .header{
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: transparent;
        width: 100%;
        padding: 1.5rem;
        z-index: 1000;

        .logoDiv{
            .logo{
                color: lightpink;
                cursor: pointer;
                align-items: center;
                justify-content: center;
                
                .icon{
                    color: lightpink;
                    font-size: 2rem;
                    margin-right: 10px;
                }
            }
        }

        @media screen and (max-width: 800px){
            .navBar{
                background: lightcoral;
                position: absolute;
                
                padding: 1rem;
                width: 100%;
                top: 0;
                right: -500%;
                box-shadow: 0 2px 4px rgba(178, 178, 178, 0.9);
                transition: .5s ease;
                z-index: 1000;

                .navLists{
                    flex-direction: column;
                    justify-content: center;
                    width: 100%;
                    margin: auto;

                    .navItem{
                        .navLink{
                            color: white;
                            font-size: 1.2rem;
                            font-weight: 600;
                            &:hover{
                                color: lightpink;
                            }
                        }
                    }
                }

                .closeNavbar{
                    position: absolute;
                    top: 1rem;
                    right: 1rem;
                   

                    .icon{
                        color: white;
                        font-size: 2rem;

                        &:hover{
                            color: lightpink;
                        }
                    }
                }
            }

            .toggleNavbar{
                .icon{
                    color: lightpink;
                    font-size: 1.5rem;
                }
            }

            .activeNavbar{
                left: 0;
            }
        } 
    }
    /* scroll */
    .activeHeader{
        background: rgb(255, 255, 255);
        box-shadow: 0 2px 8px 2px rgba(178, 178, 178, 0.5); 
    }
}

@media screen and (min-width: 801px){
    .navBarSection{
        .toggleNavbar, .closeNavbar{
            display: none;
        }
    
        .header{
            padding: 1.5rem 2rem;
            .navBar{
                .navLists{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: row;

                    .navItem{
                        .navLink{
                            color: lightpink;
                            font-size: 1.1rem;
                            font-weight: 600;
                            padding: 0 1rem;

                            &:hover{
                                color: lightcoral;
                            }
                        }
                    }

                    .loginBtn{
                        background: none;
                        border:1px solid lightcoral;
                        font-size: 1.1rem;
                        font-weight: 600;

                        &:hover{
                            background-color: lightcoral;
                        }
                    }
                }
            }
        }
    }
    
}



  